h4{
    cursor: pointer;
}
.expand-collapse{
    max-height:0px;
    overflow:hidden;
    transition: all 500ms ease-out;

}
.expand-collapse.expanded{
    max-height:inherit;
    overflow: auto;
    transition: all 500ms ease-out;

}

.text{
    width:100%;
    /* min-height:100vh; */
}