header{
    background-color:#f3f2f2;
    margin-bottom:1rem;
}
label{
    display:block;
}
h4{
    cursor: pointer;
}

.expand-collapse{
    max-height:0px;
    overflow:hidden;
    transition: max-height 500ms ease-out;

}
.expand-collapse.expanded{
    max-height:100%;
    overflow: auto;
    transition: max-height 500ms ease-out;
}

.text{
    width:100%;
}